@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1 class="mx-auto text-center">Welcome to the Administrator Hub</h1>

<div>
    <hr />
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_AdminHubNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@RenderSection("Scripts", required: false)
