@page
@model MSSProject.Web.Areas.Admin.Pages.AdminUser.IndexModel
@{
    ViewData["Title"] = "Administrator Hub";
    ViewData["ActivePage"] = AdminHubNavPages.Index;
}


<div class="text-center col-lg">
    <img src="~/images/MainLogo_Trans.png" alt="PennStateSoft" />
</div>