@page
@model MSSProject.Web.Areas.Core.Pages.User.IndexModel
@{
    ViewData["Title"] = "User Hub";
    ViewData["ActivePage"] = UserHubNavPages.Index;
}



<div class="text-center col-lg">
    <img src="~/images/MainLogo_Trans.png" alt="PennStateSoft" />
</div>